@-webkit-keyframes rotate {
            0% {
	            -webkit-transform: rotate(0deg)
            }
            25% {
	            -webkit-transform: rotate(15deg)
            }
            50% {
	            -webkit-transform: rotate(-5deg)
            }
            55% {
	            -webkit-transform: rotate(5deg)
            }
            75% {
	            -webkit-transform: rotate(-10deg)
            }
            100% {
	            -webkit-transform: rotate(0deg)
            }
        } 
        
        @-moz-keyframes rotate {
            0% {
	            -moz-transform: rotate(0deg)
            }
            25% {
	            -moz-transform: rotate(15deg)
            }
            50% {
	            -moz-transform: rotate(-5deg)
            }
            55% {
	            -moz-transform: rotate(0deg)
            }
            75% {
	            -moz-transform: rotate(-10deg)
            }
            100% {
	            -moz-transform: rotate(0deg)
            }
        }
        
        @-ms-keyframes rotate {
            0% {
	            -ms-transform: rotate(0deg)
            }
            25% {
	            -ms-transform: rotate(15deg)
            }
            50% {
	            -ms-transform: rotate(-5deg)
            }
            55% {
	            -ms-transform: rotate(0deg)
            }
            75% {
	            -ms-transform: rotate(-10deg)
            }
            100% {
	            -ms-transform: rotate(0deg)
            }
        } 