/* *********************
Rocktaves | Oasis - 2012
********************* */

/* CSS File for formatting text and element attributes. */

body
{
	background:#000000;
	margin-top: 0;
	margin-left: 0;
}

a
{
	text-decoration: none;
	color: #000000;
}

.wrapper
{
	background: url(./images/background.jpg) no-repeat;
	width: 100%;
	height: 640px;
}
	
.titleBar
{
	float: left;
	width: 80%;
}

#titleBanner
{
	text-indent:30px;
	font-size: 50px;
	font-family: "Bebas", "Arial Narrow Bold", "Arial Bold", "Arial";
}

.navColumn
{
	float: left;
	width: 20%;
}

.navBarList
{
	text-transform:uppercase;
	font-size: 25px;
	font-weight: bold;
	font-family: "Bebas", "Arial Narrow Bold", "Arial Bold";
}

#navElementAbout:hover
{
	color: #C61616;
}

#navElementRules:hover
{
	color: #C61616;
}

#navElementParticipate:hover
{
	color: #C61616;
}

#navElementOasis2012:hover
{
	color: #C61616;
}

.contentColumn
{
	float: left;
	width: 59%;
}

#contentHolderAbout
{
	height: 320px;
	visibility: hidden;
	display: 'none';
	overflow: auto;
}

#contentHolderRules
{
	height: 320px;
	visibility: hidden;
	display: 'none';
	overflow: auto;
}

#contentHolderParticipate
{

	visibility: hidden;
	display: 'none';
	height: 320px;
	overflow: auto;
}

.clearDiv
{
	height: 0px;
	clear: both;
}

/* CSS File Ends */