/* *********************
Rocktaves | Oasis - 2012
********************* */

/* CSS File for formatting text and element attributes. */

body
{
	background: #000000;
    margin-top: 0;
    margin-left: 0;
	margin-right: 0;
}

@font-face
{
	font-family: Bebas;
	src: url('./fonts/bebas.ttf');
}

a
{
	text-decoration: none;
	color: #CA7620;
}

.wrapper
{
	background-image: url(./images/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
    width: 100%;
	height: 640px;
}
	
.titleBar
{
	float: left;
	width: 80%;
	margin-left: 30px;
	margin-top: 40px;
	margin-bottom: -20px;
}

#titleBanner
{	font-size: 35px;
	font-family: "Bebas", "Arial Narrow";
	color: #CA7620;
}

#titleBanner:hover
{
	color: #CC0000;
}

#sponsorLogo
{
	position: absolute;
	margin-top: -20px;
}

.navColumn
{
	float: left;
	width: 20%;
}

.navBarList
{
	text-transform:uppercase;
	font-size: 25px;
	font-weight: bold;
	font-family: "Bebas", "Arial Narrow Bold", "Arial Bold";
}

#navElementAbout:hover
{
	color: #ECBB86;
}

#navElementUnplugged:hover
{
	color: #ECBB86;
}

#navElementAxetacy:hover
{
	color: #ECBB86;
}

#navElementRocktavesCOM:hover
{
	color: #ECBB86;
}

#navElementOasis2012:hover
{
	color: #ECBB86;
}

.contentHolderColumn
{
	overflow: auto;
	width: 550px;
	height: 385px;
	text-align: justify;
	display: inline-block;
	font-family: "Tahoma", "Verdana";
	color: #CA7620;
}

#contentHolderAbout
{
	display: none;
}

#contentHolderUnplugged
{
	display: none;
}

#contentHolderAxetacy
{
	display: none;
}

#contentHolderRocktavesCOM
{
	display: none;
}

.clearDiv
{
	clear: both;
}

/* CSS File Ends */