body
{
	background:#000000;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

@font-face
{
font-family: Bebas;
src: url('./fonts/bebas.ttf');
}

a
{
	text-decoration: none;
	color: #000000;
}

.pageContainer
{
	background: url(./images/background.jpg) no-repeat;
	width: 100%;
	height: 640px;
}
	
.titleBar
{
	float: left;
	width: 80%;
}

#titleBanner
{
	text-indent:30px;
	font-size: 45px;
	font-family: "Bebas", "Arial Narrow Bold", "Arial Bold";
}

#titleBanner:hover
{
	text-shadow: 5px 5px 10px #FF0000;        
}

.navColumn
{
	float: left;
	width: 20%;
}

.navBarList
{
	text-transform:uppercase;
	font-size: 25px;
	font-weight: bold;
	font-family: "Bebas", "Arial Narrow Bold", "Arial Bold";
}

#navElementAbout:hover
{
	color: #C61616;
	text-shadow: 1px 1px 5px #FFCC00;
}

#navElementRules:hover
{
	color: #C61616;
	text-shadow: 1px 1px 5px #FFCC00;
}

#navElementParticipate:hover
{
	color: #C61616;
	text-shadow: 1px 1px 5px #FFCC00;
}

#navElementOasis2012:hover
{
	color: #C61616;
	text-shadow: 1px 1px 5px #FFCC00;
}

.contentColumn
{
	margin:35px 40px;
	width:510px;
	height:285px;
	overflow:auto;
	text-align:justify;
	padding:0 10px;
	display: block;
}

#about
{
	display:none;
}
#rules
{
	display:none;
}
#participate
{
	display:none;
}


#about:hover
{

}
#rules:hover
{

}

#participate:hover
{

}

.clearDiv
{
	height: 0px;
	clear:both;
}